body {
    padding:0;
    margin:0;
}


#section1 {
    width:100vw;
    padding:0;
    background-color:rgb(0,102,203);
    margin:0;
    height:70vh;
    position:relative;
    background-image: url(assets/1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin:0 auto;
}

#section2 {
    font-size:20px;
    width:100vw;
    background-color:rgb(0,102,203);
    margin:0;
    height:74vh;
    position:relative;
    background-image: url(assets/2_%20INTRO.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#section4 {
    background-color:rgb(243,229,137);
    width:100vw;
    height:70vh;
    padding-top:160px;
}

#yellow_donor_box {
    font-family: 'Myriad Pro';
    text-align: center;
    height:auto;
    position:relative;
    width:40%;
    letter-spacing: -1px;
    font-weight: 300;
    font-size:28px;
    background-color:white;
    margin:0 auto;
    padding:13px;
    border:3px solid black;
}

#yellow_donor_box p {
    margin:0;
    margin-bottom:25px;
}

#love-button {
    background-color:rgb(243,229,137);
    width:46%;
    border:3px solid black;
    text-align: center;
    margin:0 auto;
    height:30px;
    margin-bottom:20px;
    padding:3px;
}

#heart_img {
    height:80%;
    vertical-align: middle;
    padding:4px;
}

#rare-goods {
    color:black;
}